p { 
	line-height: 1em; 
}
h1, h2, h3, h4 {
    color: red;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
	/HOME
}
h1 { font-size: 3.7em; }
h2 { font-size: 3.5em; }
a {
	color: #408080;
	text-decoration: none;
	/internet programiranje
}
	a:hover,
		/kada predjemo misem
	a:active{ text-decoration: underline; }

body{
    font-family: arial; font-size: 90%; line-height: 1.2em; width: 100%; margin: 3; background: #d3d3d3;
    /velicina svih fontova odjednom,polozaj buttona,background boja cijele pozadine
}
#page{ margin: 50px; }
/margine

#logo{
	width: 55%;
	margin-top: 100px;
	font-family: georgia;
		display: inline-block;
}
#nav{
	width: 70%;
		display: inline-block;
			text-align: right;
	float: right;
	/polozaj buttona
}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 100px;
					}
			#nav ul li a{
				padding: 30px;
				background: green;
				color: red;
				border-radius: 25px;
				/button
			}
			#nav ul li a:hover{
				background-color: #ffff80;
				/boja dugmeta kada stanemo na njega
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color: #00ff00; }

#content{
	margin: 30px 0;
	background: yelow;
	padding: 20px;
	clear: both;
}
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 70%;
		color:yelow;
		/velicina fonta gosp
	}

#content,
ul li a{ box-shadow: 0px 1px 1px #999; }